<h1>List of photos</h1>

<hr>
<form action="/insert_photo">
<label for="the_image">Image</label>
<input type="text" name="image" id="the_image">

<label for="the_caption">Caption</label>
<input type="text" name="caption" id="the_caption">

<label for="the_owner">Owner ID</label>
<input type="text" name="owner" id="the_owner">
<button> Add photo </button>
</form>
<hr>

<table border="1">
<tr>
  <th>
    Image
  </th>
  <th>
    Caption
  </th>
  <th>
    Owner
  </th>
  <th>
    Posted
  </th>
  <th></th>
</tr>

<% @list_of_photos.each do |a_photo| %>
  <tr>
    <td>
      <img src="<%= a_photo.image %>">
    </td>

    <td>
      <%= a_photo.caption %>
    </td>

    <td>
      <%= a_photo.poster.username %>
    </td>

    <td>
      <%= a_photo.created_at %>
    </td>

    <td>
      <a href="/photos/777">
        Show details
      </a>
    </td>
  </tr>
<% end %>
</table>
